@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Fira+Code:wght@300;400;500;600;700&family=JetBrains+Mono&family=Poppins:wght@400;600&family=Raleway:wght@100;400;700;900&family=Vollkorn&display=swap");

:root {
  --white: #fff;
  --bg-secondary: #fefefe;
  --offwhite: #f7f7f4;
  --gray: rgb(162, 162, 169);
  --highlight: rgb(109, 67, 90);
  --highlight2: #fa8072;
  --offdark: #1b2735;
  --dark: #0e121a;
  --black: #09050d;
  --c-ash: #efeff0;
  --hover-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 2px 3px 12px rgba(0, 0, 0, 0.2);
  font-family: Inter, Arial, Helvetica, sans-serif;

  color: var(--offdark);
  background-color: var(--c-ash);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root.dark {
  --background-deeper: #09050d;
  --background-deep: #1e2227;
  --background: #1b2735;

  --white: #1b2735;
  --offwhite: #f7f7f4;
  --gray: #d7dae0;
  --highlight: rgb(109, 67, 90);
  --highlight2: #fa8072;
  --offdark: #1b2735;
  --dark: #0e121a;
  --black: #09050d;
  --c-ash: #eeeeee;
  --bg-secondary: #23272e;
  --hover-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 2px 3px 12px rgba(0, 0, 0, 0.3);

  color: var(--gray);
  background-color: var(--background-deep);
  background-color: #14191f;
}
